*{
    box-sizing: border-box;
}


nav{
    color: white;
}

li{
    list-style: none;
}
#welcome{
     /*background-image: url(images/wil-stewart-T26KCgCPsCI-unsplash.jpg);*/
     background-color:white;
     
}

a{
    text-decoration: none;
    color: rgb(32, 36, 61);
    
}

.navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    background-color: white;
    
    
    
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;

}

.nav-logo{
    font-size: 3rem;
     font-family: 'Permanent Marker', cursive;;
}

.nav-link{
    transition: 0.7s ease;
    padding: 20px;
    font-family: 'Permanent Marker', cursive;
}

.nav-link:hover{
    color:rgb(32, 36, 61);
    text-decoration-line: underline;
}

.dropbar{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    background-color:rgb(32, 36, 61);

}

@media(max-width:768px){
    .dropbar{
        display: block;
    }

    .dropbar.active  .bar:nth-child(2){
        opacity: 0;
    }
    .dropbar.active  .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .dropbar.active  .bar:nth-child(3){ 
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: white;/*rgb(4, 4, 24);*/
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-item{
        margin: 16px 0;

    }

    .nav-menu.active{
        left: 0;
    }
}
.banner{
    background-image: url(images/adeyemi-emmanuel-abebayo-rtOUp5lCHps-unsplash.jpg);
    background-size: cover;
}

.main-header{
text-align: center;
color: blanchedalmond;

}
h1.main-header{
    font-size: 55px;
    padding-top: 30vh;
    padding-bottom: 15vh;
}

#youtube{
    text-align: center;
    margin: 50px 50px;
}

#zoom{
    font-size: 5rem;
    text-align: center;
    color: blue;
    margin-bottom: 5px;
}

#zoom-btn{
    border-radius: 5px;
    border: none;
    padding: 10px 25px;
    background-color: blue;
    color: white;
    text-align: center;
    margin-bottom: 40px;
    
}

#online{
    text-align: center;
}
.social-icons a{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    background-color: #e6e3e3;
    align-items: center;
    margin: 20px 10px;
    border-radius: 50%;
    
}
.social-icons{
    
    display: flex ;
    

}




.social-icons i{
    color:#000;
    
}

.social-icons a:hover,
.a-social-b a:hover {
    background-color: #000;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    transition: all ease 0.5s;
   
}
.social-icons a:hover i,
.a-social-b a:hover i{
    color:#FFFFFF;
    transition: all ease 0.5s;
}
.a-social-b{
    position: fixed;
    top:50%;
    right: 0px;
    transform: translate(-50%);
}
.a-social-b a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    padding: 0px;
    margin: 0px;
    line-height: 0px;
    background-color: #ffffff;
    border: 1px solid #cbcbcb;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0,2);
}
.a-social-b i{
    color: #2b2b2b;
    font-size: 20px;
}

#socials{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;

}
